@{
    ViewBag.Title = "Bookings";
    int driverId = Convert.ToInt32(Session["driverId"]);
}


<div>
    <h2>All Bookings</h2>
    <ul id="bookings" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="bookingId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="booking" />
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>

        function formatItem(item) {
            return item.FromD + ' - ' + item.ToD + ' - ' + item.Totalfare + ' - '+ item.Date;
        }

        //var userId;
        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON('../api/bookings/get-bookings-bydriver?driverId='+'@driverId')
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('<li>', { text: formatItem(item) }).appendTo($('#bookings'));
                    });
                });
        });
        function find() {
            var id = $('#bookingId').val();
            console.log($('#bookingId'));
            $.getJSON('../api/bookings/get-booking?bookingId=' + id)
                .done(function (data) {
                    $('#booking').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#booking').text('Error: ' + err);
                });
        }
</script>
