
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    var message = ViewBag.Message;
}
<h2>Driver Login</h2>
<form method="post" class="form-horizontal" action="@Url.Action("Login","Driver")">
    @if (message != null)
    {
        <p>@message</p>
    }
    <div class="form-group">
        <label class="control-label" for="dname">Driver Name</label>
        <div class="col-sm-9 pull-right">
            <input type="text" class="form-control" name="dname" id="dname" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="pwd">Password</label>
        <div class="col-sm-9 pull-right">
            <input type="password" class="form-control" name="pwd" id="pwd" />
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="submit" />
</form>


